body { background: #c82313; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 39px; display: flex; }
.block-product-0 { color: #79f521; font-size: 19px; margin-bottom: 5px; }
.block-order-1 { color: #72851c; font-size: 19px; margin-bottom: 5px; }
.block-metrics-2 { color: #41db2e; font-size: 18px; margin-bottom: 5px; }
.block-uploader-3 { color: #11f649; font-size: 18px; margin-bottom: 5px; }
.block-search-4 { color: #1e533e; font-size: 21px; margin-bottom: 5px; }
.block-config-5 { color: #d79566; font-size: 20px; margin-bottom: 5px; }
.block-cart-6 { color: #ee6edd; font-size: 17px; margin-bottom: 5px; }